@import "tailwindcss";
@tailwind utilities;
@layer components {
    .underline-custom {
      @apply bg-red-400 h-[3px] border-r-2 scale-x-0  transform-gpu transition-all ease-in-out duration-300 group-hover/underline:scale-x-100;
    }
    .list-text {
      @apply text-gray-500 dark:text-gray-400 font-medium;
    }
    .list-text-heading {
      @apply mb-6  font-semibold text-gray-900 uppercase dark:text-white;
    }
    .headingTitle{
      @apply flex justify-center text-4xl font-extrabold uppercase tracking-wider text-transparent bg-clip-text  m-[100px] bg-gradient-to-r from-teal-500 to-teal-300 text-transparent bg-clip-text text-center font-bold text-3xl p-2 sm:text-5xl lg:text-7xl leading-tight tracking-tighter
    }
    .bg-image{
      @apply bg-[url('/logo.png')] bg-no-repeat bg-center bg-fixed bg-cover;
    }
    .text{
      @apply  text-lg font-normal text-gray-300 lg:text-xl 
    }
    .textDark{
      @apply  text-lg font-normal text-gray-900 lg:text-xl 

    }
    .borderProp{
      @apply  border-b-4 border-teal-500 inline-block 

    }
    
  }

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
